/*Color definitions*/
:root {
    --tag-red: 238, 95, 91;
    --tag-cyan: 91, 192, 222;
    --tag-blue: 0, 123, 255;
    --tag-pink: 232, 62, 140;
    --tag-yellow: 248, 244, 6;
    --tag-green: 98, 196, 98;
    --tag-orange: 249, 118, 11;
    --tag-indigo: 102, 16, 242;
    --tag-teal: 32, 201, 151;
    --link-active-bg: 0, 123, 255;
    --link-active: 255, 255, 255;
    --tag-alpha: 0.15;
    --bg-light: #43474d;
    --btn-bg: 91, 192, 222;
}

/*Global settings*/

a.active {
    background-color: rgb(var(--link-active-bg)) !important;
    color: rgb(var(--link-active)) !important;
}


/*Nav bar*/

.nav-link:hover {
    transform: scale(1.25);
}

#bj-table {
    display: block;
    position: relative;
    background-color: green;
    opacity: 0.7;
    min-width: 80rem;
    min-height: 35rem;
    border-radius: 3rem;
}
.hand {
    display:inline-block;
    position: relative;
    background-color: blue;
    width:fit-content;
    height:fit-content;
    font-size: 10rem;
    line-height: 1;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.red, .black, .blue {
    width:auto;
    height:100%;
    aspect-ratio:initial;
    line-height: 1;
    font-size: 10rem;
    margin: 0;
    padding: 0;
    background-color: white;
}
.red {
    color: red;
}
.black {
    color: black;
}
.blue {
    color: blue;
}
.player{
    position: absolute;
    bottom: 2rem;
    margin: auto;
    position: absolute; left: 50%; transform: translateX(-50%);
}

.dealer{
    position: absolute;
    top: 2rem;
    margin: auto;
    position: absolute; left: 50%; transform: translateX(-50%);
}

#button_row{
    max-width: 80%;
    margin: 2rem auto 3rem auto;
    display: flex;
    justify-content: space-between;
}

button.gamebtn{
    border: 2px solid;
    padding: 1em 2em;
    border-radius: 1rem;
    transition: all ease-in-out 0.2s;
}

button.gamebtn:hover{
    transform: scale(1.25);
}

button.gamebtn#d{
    border-color:     rgba(0, 255, 0, 1);    ;
    background-color: rgba(0, 255, 0, 0.5);
}
button.gamebtn#das{
    border-color:rgba(93, 39, 3, 1);
    background-color: rgba(93, 39, 3, 0.5);
}
button.gamebtn#ds{
    border-color:rgba(0, 204, 255, 1);
    background-color: rgba(0, 204, 255, 0.5);
}
button.gamebtn#h{
    border-color:rgba(255, 0, 0, 1);
    background-color: rgba(255, 0, 0, 0.5);
}
button.gamebtn#s{
    border-color:rgba(51, 51, 255, 1);
    background-color: rgba(51, 51, 255, 0.5);
}
button.gamebtn#sur{
    border-color:rgba(204, 0, 204, 1);
    background-color: rgba(204, 0, 204, 0.5);
}
button.gamebtn#spl{
    border-color:rgba(255, 102, 0, 1);
    background-color: rgba(255, 102, 0, 0.5);
}
